<% User.all.each do |user| %>
  <% if user != current_user %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/64x64.png">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <%= user.name %><br />
          </div>
          <nav class="level">
            <div class="level-left is-mobile">
              <%= button_to friend_requests_path(friend_id: user.id), method: :post, class: "level-item" do %>
                <p>Send friend request</p>
              <% end %>
            </div>
          </nav>
        </div>
      </article>
    </div>
  <% end %>  
<% end%>
