<p style="color: green"><%= notice %></p>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">

        <div class="field">
          <div class="control">
            <%= link_to "Edit profile", edit_user_registration_path, class: "button is-info" %>
          </div>
        </div>

        <h2 class="title is-2">Friendlist</h2>

        <% current_user.friends.each do |f| %>
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                  <%= f.name %>
              </div>
            </div>
          </article>  
        <% end %>

      </div>
    </div>
  </div>
</div>      
