<section class="section">
  <h1 class="title is-1">Friend requests</h1>
  <% if @incoming.any? %>
    <%= render 'accept_or_deny' %>
  <% else %>
    <p>You have no pending friend requests!</p>
  <% end %>
</section>
