/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 .notification.is-danger.global-notification, .notification.is-primary.global-notification {
    margin-bottom: 0;
 }

 .columns #people {
    width: max(200px)
 }

 .level {
    flex-direction: row-reverse;
 }

 .navbar {
   background-color: #cdffad;
 }

 .button.is-info, .button.is-primary {
   background-color: #6fd03e;
 }

 .navbar h1 {
   font-weight: 700;
   letter-spacing: 1px;
   color: #005a00;
 }

 .button.is-link {
   background-color: white;
   border: 2px solid #015a00;
   border-radius: 5px;
   color: #015a00;

 }

 .button.is-link.is-light {
   color: #015a00;
   background-color: white;
 }

 .button.is-success.is-light {
   background-color: white;
   color: #015a00
 }

 .form-actions {
   padding: 10px 0 20px 0;
 }